
<footer class="main">
  <div class="extended">
    <div class="left">
      <img class="logo" width="300" height="61" alt="Hipstr Media" src="/modules/products/img/logo.png">
      <h1>Buy Stuff Be Cool.</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </div>

    <div class="right">
      <address>
        <h1>DC Office</h1>
        <p>
          1234 Fake Ave. NW <br>
          Washington, DC 20036
        </p>
      </address>

      <address>
        <h1>NY Office</h1>
        <p>
          1234 40th St <br>
          New York, NY 10018
        </p>
      </address>
  
      <ul class="policies">
        <li><a href="#!/about">About us</a></li>
      </ul>
    </div>
  </div>
  <div class="copyright-bar">
    <div class="left">
      <p>© 2015. Lorem Ipsum, Inc. All Rights Reversed.</p>
    </div>
  </div>
</footer>